<%- include ("../partials/head") %>
<body>
  <h2>Comment id: <%= comment.id %></h2>
  <h3>
    <%= comment.comment %> <b>- <%= comment.username %> </b>
    <a href="/comments/<%= comment.id %>/edit">Edit Comment</a>
  </h3>
  <a href="/comments">Back to all comments</a>
  <form action="/comments/<%= comment.id %>?_method=DELETE " method="post">
    <button type="submit">Delete</button>
  </form>
</body>
